<app-navbar></app-navbar>
<div class="container-fluid d-flex justify-content-center align-items-center flex-column mt-5 ">
    <div class="col-4 d-flex flex-column justify-content-center align-items-center div-custom mt-5">
        <h3 class="my-2">Nie pamiętasz hasła?</h3>
        <span class="text-center mb-2">Wpisz adres email konta, do którego chcesz odzyskać dostęp.</span>
        <div class="col-8">
            <form [formGroup]="forgotForm">
                
                <div class="d-flex flex-column justify-content-center mb-3">
                    <input type="text" formControlName="email" class="form-control" placeholder="Email">
                    <span *ngIf="forgotForm.controls['email'].errors?.['required'] && (forgotForm.controls['email'].dirty || forgotForm.controls['email'].touched)" class="text-danger" >
                        *Email jest wymagany.
                    </span>    
                    <span *ngIf="forgotForm.controls['email'].errors?.['email']  && forgotForm.controls['email'].touched" class="text-danger">
                        *Email jest niepoprawny.
                    </span>  
                </div>
                <div class="d-flex flex-column justify-content-center mb-3">
                    <button (click)="sendEmail()" [disabled]="forgotForm.invalid" type="button" class="btn btn-custom">Wyślij email</button>
                </div>
            </form>
        </div>
    </div>   
</div>