<app-navbar></app-navbar>
<div class="container-fluid d-flex justify-content-center align-items-center flex-column mt-5">
    <div class="col-4 d-flex flex-column justify-content-center align-items-center div-custom">
        <h2 class="my-2">Zmiana hasła</h2>
        <div class="col-9">
            <form [formGroup]="resetPasswordForm">
                
                <div class="d-flex flex-column justify-content-center mb-3">
                    <input type="password" formControlName="password" class="form-control" placeholder="Nowe hasło">
                    <span *ngIf="resetPasswordForm.controls['password'].errors?.['required'] && (resetPasswordForm.controls['password'].dirty || resetPasswordForm.controls['password'].touched)" class="text-danger" >
                        *Hasło jest wymagane.
                    </span>    
                    <span *ngIf="resetPasswordForm.controls['password'].errors?.['pattern'] && resetPasswordForm.controls['password'].touched" class="text-danger" >
                        *Hasło musi zawierać przynajmniej: 8 znaków, wielkie i małe litery, cyfrę oraz znak specjalny.
                    </span> 
                </div>
                <div class="d-flex flex-column justify-content-center mb-3">
                    <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Potwierdź hasło">
                    <span *ngIf="resetPasswordForm.controls['confirmPassword'].errors?.['required'] && (resetPasswordForm.controls['confirmPassword'].dirty || resetPasswordForm.controls['confirmPassword'].touched)" class="text-danger">
                        *Potwierdzenie hasła jest wymagane.
                    </span>    
                    <span *ngIf="resetPasswordForm.controls['confirmPassword'].errors?.['passwordsNotMatch'] && resetPasswordForm.controls['confirmPassword'].touched" class="text-danger">
                        *Hasła nie są jednakowe.
                    </span>   
                </div>
                <div class="d-flex flex-column justify-content-center mb-3">
                    <button (click)="resetPassword()" [disabled]="resetPasswordForm.invalid" type="button" class="btn btn-custom">Zmień</button>
                </div>
            </form>
        </div>
    </div>   
</div>
